* {
    margin: 0;
    padding: 0;
  }

.carousel-item{
  height: 50vh;
  min-height: 5px;
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.carousel-item h3{
  font-size: 40px;
  color: rgb(248, 237, 237);
  margin-bottom: 130px;
}

.container-fluid .hen{
  margin-left: 40px;
}





